DEBUG=false
LOG_LEVEL=WARNING
SECRET_KEY=  # Generate with: python -c "import secrets; print(secrets.token_urlsafe(64))"

TELEGRAM_BOT_TOKEN=
CHANNEL_ID=

POSTGRES_USER=randomcoffee
POSTGRES_PASSWORD=
POSTGRES_DB=randomcoffee
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

IMAGE_TAG=latest
