DEBUG=false
LOG_LEVEL=WARNING

TELEGRAM_BOT_TOKEN=
CHANNEL_ID=

POSTGRES_USER=randomcoffee
POSTGRES_PASSWORD=
POSTGRES_DB=randomcoffee
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

REDIS_URL=redis://redis:6379/0

IMAGE_TAG=latest
